/* catList.css */

.category-list-container {
    margin: 45px 10px 30px 10px;
}
  
.hero-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.category-title {
      text-align: center;
    font-size: 24px;
    margin: 10px 0 30px 0;
  }
  
  .category-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-items: center;
  }
  
  .category-item {
    background-color: #f3f3f3;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0 0 0;
  }
  
  .category-item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .category-item a:hover {
    color: #007bff;
  }
  .conCat {
    margin: 40px 30px 10px 30px;
}

.titleCat {
    text-align: center;
}

.allCat {
    display: flex;
    padding: auto 20px;
    margin: auto;
}

/* catList.css */

/* Styles for screens with a width less than or equal to 768px */
@media (max-width: 768px) {
    .categotyListed {
        margin-top: 50px;
    }
    .category-list-container {
      padding: 0;
      margin: 0 10px 90px 10px;
    }
  
    .hero-image {
      margin-bottom: 10px;
    }
  
    .category-title {
      font-size: 14px;
      margin: 3px 0 13px 0;
    }
  
    .category-grid {
      grid-template-columns: repeat(5, 1fr);
      gap: 5px;
    }
  
    .category-item {
      padding: 7px 10px;
      border-radius: 5px;
      font-size: 7px;
    }
  }
  
  /* Styles for screens with a width greater than 768px */
  @media (min-width: 769px) {
    .category-list-container {
      padding: 20px;
    }
  
    .hero-image {
      margin-bottom: 20px;
    }
  
    .category-title {
      font-size: 24px;
      margin: 10px 0;
    }
  
    .category-grid {
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
    }
  
    .category-item {
      padding: 10px;
      border-radius: 5px;
    }
  }
  