.category-container {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  border-radius: 10px;
  border: #cfc9c9 1px solid;
  flex: 1;
  margin: auto;
}
 
.category-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  height: auto;
  /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); */
  flex: 1;
}

.secRight {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  border: #cfc9c9 1px solid;
  max-width: 450px;
  max-height: 125px;
  flex: 1;
  margin-left: 20px;
}

.sech3 {
  padding: 0;
  margin: 0;
}

.category-section h1 {
  margin: 0;
  font-size: 28px;
  color: #333333;
}

.category-sectionCategories {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 5px 10px;
  background-color: white;
}

.card-grid {
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  gap: 17px;
  display: flex;
  padding-top: 25px;
}

.vchp {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.category-image {
  width: 70px;
  height: 70px;
}

.imgvc {
  max-width: 100px;
}

.category-card {
  background-color: rgb(255, 255, 255);
  padding: 5px;
  width: auto;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  flex-basis: calc(100% - 10px); /* 50% lebar kartu minus jarak antara kartu */
  max-width: calc(100% - 10px); /* 50% lebar kartu minus jarak antara kartu */
}

.category-card:hover {
  background-color: none; /* Change to the desired hover background color */
  transform: scale(1.05); /* Increase card size on hover */
}

.category-card h1 {
  margin: auto;
  font-size: 18px;
  color: #333333;
  width: auto;
  display: flex;
  align-items: center;
  text-align: center;
  align-content: center;
  text-decoration: none;
}

.category-card a {
  text-decoration: none;
}

.view-all-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.view-all-button:hover {
  background-color: #0056b3;
}

.view-all-button-Voucher {
  margin-top: 20px;
  width: auto;
  padding: 13px 23px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.view-all-button-Voucher:hover {
  background-color: #0056b3;
}

.seeAll {
  display: none;
}

.seeAlltext {
  display: none;
}
.titleCategory {
  color: black;
  font-size: 14px;
}
@media (max-width: 768px) {
  .allmas {
    padding-left: 3px;
    padding-top: 4%;
  }
  .seeAll {
    display: inline-block;
    width: 35px;
  }

  .seeAlltext {
    text-decoration: none;
    font-size: 8px;
    color: black;
    position: relative;
    top: 15px;
    left: -35px;
    font-weight: 600;
    display: inline-block;
  }

  a {
    text-decoration: none;
  }

  .prdt {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    position: relative;
    top: -60px;
    left: -40px;
  }
  .category-container {
    position: relative;
    max-width: 330px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
    border: none;
  }
  .secRight {
    max-width: 330px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
    border: none;
    position: relative;
    top: -25px;
    padding-left: 20px;
  }
  .secRight h3 {
    font-size: 10px;
    max-width: 190px;
    line-height: 40px;
  }
  .secRight p {
    font-size: 10px;
    /* position: relative;
    top: -19px; */
    display: none;
  }
  .category-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .category-section h2 {
    font-size: 13px;
    max-width: 120px;
    padding-top: 5px;
  }

  .category-section button {
    font-size: 10px;
    width: 130px;
    padding: 8px;
    display: none;
  }

  .view-all-button-Voucher {
    position: relative;
    width: 120px;
    height: 24px;
    font-size: 8px;
    top: -82px;
    display: flex;
    align-items: center;
  }

  .vchp {
    position: relative;
    top: -2px;
    display: flex;
  }

  /* .imgvc {
    display: flex;
    padding: 0 5px;
    margin: auto;

  } */

  .card-grid {
    display: flex;
    width: 45px;
    height: 10px;
    padding-top: 0;
    position: relative;
    top: -104px;
    left: 65px;
    font-size: 10px;
    /* grid-template-columns: repeat(
      3,
      1fr
    ); */
  }

  .category-image {
    max-width: 35px;
    max-height: 35px;
  }

  .titleCategory {
    color: black;
    width: 35px;
    font-weight: 500;
    font-size: 8px;
    text-align: center;
  }

  .category-card {
    font-size: 8px;
    display: none; /* Sembunyikan seluruh category-card */
    padding-top: 20px;
  }

  .category-card:nth-child(1) {
    display: block; /* Tampilkan category-card pertama (atau yang sesuai dengan kebutuhan Anda) */
  }
  .category-card:nth-child(2) {
    display: block; /* Tampilkan category-card pertama (atau yang sesuai dengan kebutuhan Anda) */
  }
  .category-card:nth-child(3) {
    display: block; /* Tampilkan category-card pertama (atau yang sesuai dengan kebutuhan Anda) */
  }
  .category-card:nth-child(4) {
    display: block; /* Tampilkan category-card pertama (atau yang sesuai dengan kebutuhan Anda) */
  }
  .category-card:nth-child(5) {
    display: block; /* Tampilkan category-card pertama (atau yang sesuai dengan kebutuhan Anda) */
  }
  /* .category-card:nth-child(5) {
    display: block;
  } */
}

@media (max-width: 768px) {
  .category-container {
    width: 100%;
    padding-left: 5%;
  }

  .card-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px; /* Tambahkan gap antara kartu pada layar sangat kecil */
  }
}
