/* About Section */
.about {
  background: rgb(115, 236, 236);
  background: linear-gradient(
    360deg,
    rgb(245, 255, 253) 0%,
    rgba(53, 215, 243, 0.116) 100%
  );
  padding: 100px 0 20px 0;
  text-align: center;
}

.about h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.about p {
  font-size: 13px;
  color: #323030;
  max-width: 800px;
  margin: 0 auto;
}

.about-info {
  margin: 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.about-img {
  width: 20rem;
  height: 20rem;
}

.about-img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: contain;
}

.about-info h3 {
  font-size: 20px;
  margin: 0 2rem;
  padding: 20px 0;
  text-align: justify;
}

.about-info p {
  font-size: 16px;
  margin: 0 2rem;
  text-align: justify;
  padding-left: 40px;
}

.buttonAbout {
  border: none;
  outline: 0;
  padding: 10px;
  margin: 2rem;
  font-size: 1rem;
  color: white;
  background-color: darkblue;
  text-align: center;
  cursor: pointer;
  width: 15rem;
  border-radius: 4px;
}

.buttonAbout:hover {
  background-color: #054f94;
}

/* Team Section */
.team {
  padding: 30px 0;
  text-align: center;
}

.team h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.card {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.13);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 18rem;
  height: 23rem;
  margin-top: 10px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(163, 211, 233, 0.925);
}

.card-img {
  width: 11rem;
  height: 12rem;
  margin: auto;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.card-info .buttonAbout {
  margin: 2rem 1rem;
}

.card-name {
  font-size: 24px;
  margin: 10px 0;
}

.card-role {
  font-size: 1rem;
  color: #888;
  margin: 5px 0;
}

.card-email {
  font-size: 1rem;
  color: #555;
}

@media (max-width: 768px) {
  .card-name {
    font-size: 14px;
    margin: 0px 0;
  }
  .about {
    margin: 0;
  }
  .about h1 {
    font-size: 2rem;
    padding: 0;
    margin: 0;
  }

  .about p {
    font-size: 0.9rem;
    width: auto;
    padding: 0;
  }

  .about-info {
    flex-direction: column;
    text-align: center;
  }

  .about-img {
    width: 60%;
    height: 60%;
    margin-bottom: 1rem;
  }
  .about-info h3 {
    text-align: center;
  }

  .about-info p {
    margin: 0;
  }

  .about-info .buttonAbout {
    margin: 1rem 0;
    width: 10rem;
  }

  .team {
    margin: 0;
    padding: 0;
    width: auto;
  }
  
}
