.containerlogin {
  margin: -20px auto 0 185px;
  position: fixed;
}
.containerregis {
  margin: 10px auto 0 300px;
  position: fixed;
}

.imgStack {
  position: relative;
}

.imglogin {
  max-width: 830px;
}
.imgregis {
  max-width: 800px;
}

.password-toggle {
  position: relative;
  top: -45px;
  margin-left: 100%;
  right: 25px;
}
.password-toggles {
  position: relative;
  top: -42px;
  margin-left: 100%;
  right: 25px;
}
.labelHp {
  margin-top: -20px;
}

.img1 {
  display: flex;
  margin: auto;
  align-items: center;
  align-content: center;
  padding: 0;
}
.img2 {
  display: flex;
  margin: auto;
  align-items: center;
  align-content: center;
  padding: 0;
}

/* Keyframes for animations */
@keyframes smoke {
  0% {
    opacity: 0;
    transform: translateY(0) rotate(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-100px) rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Styling for the login form container */
.divLogin {
  background-color: #deeef78f;
  max-width: 395px;
  padding: 10px 35px 20px 35px;
  border: 1px solid transparent;
  border-radius: 5px;
  animation: fadeIn 1s ease-out forwards;
  position: relative;
  top: -600px;
  margin-left: auto;
}

.divRegis {
  background-color: #deeef78f;
  max-width: 305px;
  padding: 8px 25px 18px 25px;
  border: 1px solid transparent;
  border-radius: 5px;
  animation: fadeIn 1s ease-out forwards;
  position: relative;
  top: -697px;
  margin-right: auto;
}

/* Add media query for responsiveness */
@media (max-width: 768px) {
  .containerregis {
    margin: -20px auto ;
    max-width: 100%;
    padding: 0 20px;
    position: static;
  }

  .divRegis {
    top: 80px;
    right: 300px;
    left: 0;
    position: relative;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
  }

  .img2 {
    display: none;
  }
}

/* Add media query for responsiveness */
@media (max-width: 768px) {
  .containerlogin {
    margin: 20px auto;
    max-width: 100%;
    padding: 0 20px;
    position: static;
  }

  .divLogin {
    top: 50px;
    right: 300px;
    left: 0;
    position: relative;
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
    background-color: transparent;
  }

  .divRegis {
    margin: 0;
    padding: 0;
    background-color: transparent;
  }

  .img1 {
    display: none; 
  }
}

.form {
  display: flex;
  flex-direction: column;
}

/* Styling for the form fields */
.label {
  margin-bottom: 5px;
}

.inputEmail,
.inputPass {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 96.4%;
}

.inputEmailRegis,
.inputPassRegis,
.inputFull,
.inputPhone,
.inputAddress {
  padding: 7px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 96.4%;
}

/* Styling for the error message */
.p {
  color: red;
  margin: auto 0;
  padding: 0;
  margin-top: 15px;
  text-align: end;
}

.h2 {
  padding-bottom: 20px;
}

/* Styling for the login button */
.button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Styling for the registration link */
.p > a {
  color: #007bff;
  text-decoration: none;
}

.p > a:hover {
  text-decoration: underline;
}
